[submodule "fund-me/lib/chainlink-brownie-contracts"]
	path = fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "fund-me/lib/foundry-devops"]
	path = fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
